<!--<!DOCTYPE html>-->
<!--<html lang="ru" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>New person</title>-->


<!--</head>-->
<!--<body>-->
<!--<h4> Создание пользователя </h4>-->
<!--<form th:method="post" th:action="@{/admin/}" th:object="${user}">-->


<!--    <label for="firstname">Введите имя</label>-->
<!--    <input type="text" th:field="*{firstname}" id="firstname"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">FirstName error</div>-->
<!--    <br/>-->
<!--    <label for="lastname">Введите фамилию</label>-->
<!--    <input type="text" th:field="*{lastname}" id="lastname"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">LastName error</div>-->
<!--    <br/>-->

<!--    <label for="age">Введите возраст</label>-->
<!--    <input type="text" th:field="*{age}" id="age"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>-->
<!--    <br/>-->
<!--    <label for="email">Введите email</label>-->
<!--    <input type="text" th:field="*{email}" id="email"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>-->
<!--    <br/>-->
<!--    <label for="password">Введите пароль</label>-->
<!--    <input type="text" th:field="*{password}" id="password"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>-->

<!--    <br/>-->
<!--    <label for="role-[[${role.id}]]">Roles:</label>-->
<!--    <div th:each="role : ${roles}">-->
<!--        <input type="checkbox" id="role-[[${role.id}]]" name="roles" th:value="${role.id}"/>-->
<!--        <label for="role-[[${role.id}]]" th:text="${role.name}"></label>-->
<!--    </div>-->


<!--    <input type="submit" value="Создать"/>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->